img{ 
    max-width: 100%;
}
p:target{
    background: red;
}
.content{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    grid-gap: 1em;
    padding: 5em;
    background-color: #333;
}
.content img{
    width: 100%;
    height: auto;
}
.article-item{
    background: white;
}
.article-desc{
    padding: 1.5em;
}
.article-title{
    font-size: 1.5em;
    margin-top: 0;
    padding-bottom: 0.5em;
}
.article-lightbox{
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, 0.2);
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    transform: scale(0,0);
    transform-origin: right;
    transition: transform ease-in-out 500ms;
}
.article-lightbox:target{
    transform: scale(1,1);
    transform-origin: left;
}
.article-lightbox-content{
   width: 50%; 
   background: black;
   padding: 1em;
   position: relative;
}
.close{
    position: absolute;
    width: 1.5em;
    height: 1.5em;
    background: red;
    top: -1em;
    right: -1em;
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: center;
}
.close::after{
    content: 'x';
    color: white;
    font-weight: 700;
}