@import '/css/nav.css';
@import '/css/articles.css';

*, *::after, *::before{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.main-head {
    grid-area: header;
  }
  .content {
    grid-area: content;
  }
  .side {
    grid-area: sidebar;
  }
  .ad {
    grid-area: ad;
  }
  .main-footer {
    grid-area: footer;
  }

  .wrapper {
    display: grid;
    grid-template-areas: 
      "header"
      "nav"
      "content"
      "sidebar"
      "ad"
      "footer";
  }

  .wrapper .side,.wrapper .ad{
    background-color: rgb(165, 164, 167);
    padding-top: 1rem;
    min-height: 47vh;
    color: rgb(48, 49, 49);
    font-weight: bold;
    display: flex;
    justify-content: center;
  }

  .main-footer{
    background-color: rgb(165, 164, 167);
    height: 8vh;
    display: flex;
  }
  .card-content{
    background-color: rgb(233, 232, 235);
  }
  .card{
    display: flex;
    border: 2px solid rgb(48, 49, 49);
    width: 30rem;
    padding: 0.1rem;
    box-shadow: 2px solid black;
  }
  .card-image{
    background-color: rgb(56, 55, 55);
    width: 40%;
    height: auto;
  }
  .card-image img{
      width: 100%;
      height: 100%;
      padding: 0.3em;
  }
  .card-desc{
      padding: 0.2rem;
      width: 70%;
  }
  .card-desc p{
      padding: 0.1rem 0;
      color: rgb(48, 49, 49);
      width: 100%;
  }

  @media (min-width: 500px) {
    .wrapper {
      grid-template-columns: 1fr 2fr;
      grid-template-areas: 
        "header  header"
        "sidebar content"
        "ad      content"
        "footer  footer";
    }
  }

  @media (min-width: 960px) {
    .wrapper {
      grid-template-columns: 1fr 4fr;
      grid-template-areas: 
        "header  header"
        "sidebar content"
        "ad      content"
        "footer  footer"
     }
  }